body{

    background-color: #f8f8f8!important;
    text-align: center;
    border: 5px solid;
    
}


#profile-wrapper{

    text-align: center;
}

#profile-pic{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: -21px;
    margin-right: auto;
}



/* ul{
    padding: 0;
    list-style-type: none;
    
} */


.icon-large{
    font-size: 25px;
    padding-left: 15 px;
    padding-inline: 5px;
}

.subtitle1{
    
    padding-top: 10px;
}



.year {
    margin-left: 310px;
    
  }

  .card3{
    margin-block: -2px;
  }

  