body{

    background-color: #f8f8f8!important;
    
}


#profile-wrapper{

    text-align: center;
}

#profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: #0c417c;
    text-align: center;
    padding-top: 20px;
}

/* ul{
    padding: 0;
    list-style-type: none;
    
} */


.icon-large{
    font-size: 25px;
    padding-left: 15 px;
    padding-inline: 5px;
}

.subtitle1{
    
    padding-top: 10px;
}